{% extends 'base.html.twig' %}

{% block title %}
    Classement
{% endblock %}

{% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    <script src="{{ asset('js/modernizr.js') }}"></script>
	<script src="{{ asset('js/jquery-2.1.1.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block body %}
{% if app.session.get('user') == null %}
    <center>
        <a href = "{{ path('homepage') }}">
            <h5>Vous n'êtes pas connecté - Cliquez pour être redirigé vers la page de connexion</h5>
        </a>
    </center>
{% else %}
    <center>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <div class="navbar-header">
                <a href="{{ path('classement') }}" class="navbar-brand">Page de classement</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="">{{ perso.pseudo }}</a></li>
            </ul>
            <p class="navbar-text">Nombre de personnages à Liones: {{ list_persos|length }}</p>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle 
                              {% if app.session.get('nb_message') > 0 %}
                              btn-danger
                              {% endif %}" data-toggle="dropdown" href="">Menu
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if app.session.get('nb_message') > 0 %}
                              class="btn-danger"
                              {% endif %}><a href="{{ path('boiteMail') }}">Boîte au lettre ({{ app.session.get('nb_message') }})</a></li>
                        <li><a href="{{ path('actionPage', {'id': perso.id} ) }}">Action</a></li>
                        <li><a href="{{ path('Perso') }}">Changement de personnage</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('disconnect') }}"><span class="glyphicon glyphicon-log-in"></span> Déconnexion</a></li>
            </ul>
        </div>
        </nav>
        {% if app.request.get('msg') %}
            <center>
				<div class="resultat-succes">
					<p>{{ app.request.get('msg') }}</p>
				</div>
			</center>
        {% endif %}
		{% if app.request.get('msg2') %}
            <center>
				<div class="resultat-fail">
					<p>{{ app.request.get('msg2') }}</p>
				</div>
			</center>
        {% endif %}
        <center>
			<h2>Liste des personnages par ordre de score</h2>
		</center>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <p><span>Place</span></p>
            </div>
            <div class="col-sm-3">
				<p><span>Pseudo</span></p>
            </div>
            <div class="col-sm-3">
				<p><span>Score</span></p>
            </div>
            <div class="col-sm-3">
				<p><span>Message</span></p>
            </div>
        </div>
        <hr />
        {% set i = 1 %}
        {% for p in list_persos %}
            {% if i == 1 %}
                {% if p.pseudo == perso.pseudo %}
                    <div class="myPerso">
                {% else %}
                    <div class="first">
                {% endif %}
            {% else %}
                {% if i == 2 %}
                    {% if p.pseudo == perso.pseudo %}
                        <div class="myPerso">
                    {% else %}
                        <div class="second">
                    {% endif %}
                {% else %}
                    {% if i == 3 %}
                        {% if p.pseudo == perso.pseudo %}
                            <div class="myPerso">
                        {% else %}
                            <div class="third">
                        {% endif %}
                    {% else %}
                        {% if p.pseudo == perso.pseudo %}
                            <div class="myPerso">
                        {% else %}
                            <div class="classement">
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
				<div class="row">
                    <div class="col-sm-3">
                        {% if i == 1 %}
                            <h1>1</h1>
                        {% else %}
                            {% if i == 2 %}
                                <h2>2</h2>
                            {% else %}
                                {% if i == 3 %}
                                    <h3>3</h3>
                                {% else %}
                                    <p>{{ i }}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        {% if i == 1 %}
                            <h1><a href="{{ path('redirectProfil', {'id': p.id}) }}">{{ p.pseudo }}</a></h1>
                        {% else %}
                            {% if i == 2 %}
                                <h2><a href="{{ path('redirectProfil', {'id': p.id}) }}">{{ p.pseudo }}</a></h2>
                            {% else %}
                                {% if i == 3 %}
                                    <h3><a href="{{ path('redirectProfil', {'id': p.id}) }}">{{ p.pseudo }}</a></h3>
                                {% else %}
                                    <p><a href="{{ path('redirectProfil', {'id': p.id}) }}">{{ p.pseudo }}</a></p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        {% if i == 1 %}
                            <h1>{{ p.score }}</h1>
                        {% else %}
                            {% if i == 2 %}
                                <h2>{{ p.score }}</h2>
                            {% else %}
                                {% if i == 3 %}
                                    <h3>{{ p.score }}</h3>
                                {% else %}
                                    <p>{{ p.score }}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        {% if i == 1 %}
                            <h1><a href="{{ path('sendingMessage', {'id': p.id}) }}"><img src="{{ asset('img/cd-icon-email.svg') }}" name="mail"/></a></h1>
                        {% else %}
                            {% if i == 2 %}
                                <h2><a href="{{ path('sendingMessage', {'id': p.id}) }}"><img src="{{ asset('img/cd-icon-email.svg') }}" name="mail"/></a></h2>
                            {% else %}
                                {% if i == 3 %}
                                    <h3><a href="{{ path('sendingMessage', {'id': p.id}) }}"><img src="{{ asset('img/cd-icon-email.svg') }}" name="mail"/></a></h3>
                                {% else %}
                                    <p><a href="{{ path('sendingMessage', {'id': p.id}) }}"><img src="{{ asset('img/cd-icon-email.svg') }}" name="mail"/></a></p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% set i = i+1 %}
                    </div>
                </div>
			</div>
                            </div>
                        </div>
                    </div>
        {% endfor %}
    </center>
{% endif %}
{% endblock %}